//FONTS
$headerFont: 'Acme', sans-serif;
$accentFont: 'Indie Flower', cursive;
$mainFont: 'Comfortaa', cursive;

//COLORS
// $bgColor1: rgb(207, 184, 169);
// $bgColor2: rgb(241, 237, 234);
// $accentColor1: rgb(53, 33, 19);
// $accentColor2: rgb(83, 50, 27);
$bgColor1: rgb(169, 187, 207);
$bgColor2: rgb(234, 240, 241);
$accentColor1: rgb(19, 43, 53);
$accentColor2: rgb(27, 43, 83);