//FONTS
$headerFont: 'Acme', sans-serif;
$accentFont: 'Indie Flower', cursive;
$mainFont: 'Comfortaa', cursive;

//COLORS
$bgColor1: rgb(207, 184, 169);
$bgColor2: rgb(241, 237, 234);
$accentColor1: rgb(207, 184, 169);