@import "./resets", "./variables";


//GENERAL STYLING
body{
    width: 100vw;
    background-color: $bgColor1;
    overflow-x: hidden;
}

main {
    overflow-x: hidden;
}

section {
    width: 100vw;
    height: fit-content;
    background-color: $bgColor1;
    color: $accentColor1;
    font-family: $mainFont;
    font-size: 1rem;
}

.container {
    margin: 60px 20px;
    padding: 60px 0;
    width: calc(100vw - 40px);
    background-color: $bgColor1;
    border-top: solid 2px $accentColor2;
    border-bottom: solid 2px $accentColor2;
}

a {
    color: $accentColor1;
}

.link--click {
    width: 10rem;
    height: 4rem;
    font-family: $accentFont;
    font-size: 1.5rem;
    color: $accentColor1;
    text-align: center;
    line-height: 4rem;
    background-color: $bgColor2;
}

a {
    text-decoration: none;
}

p {
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.5rem;
}

.heading--center {
    padding-bottom: 30px;
    width: 100%;
    font-family: $accentFont;
    font-size: 2.5rem;
    text-align: center;
}

.center {
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

//HEADER AND MAIN SLIDESHOW
header {
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100vw;
    padding: 1rem;
    z-index: 9;
    overflow: hidden;
    background: aliceblue;
    border-bottom: solid 1px rgb(13, 81, 139);
    transition: all 0.50s ease-in;
    box-sizing: border-box;

    & h1 {
        font-family: $accentFont;
        font-size: 2rem;
        color: rgb(13, 81, 139);
        transition: all 0.50s ease-in;
    }
}

.menu--item{
    display: none;
}

.main--slideshow {
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#slide--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    opacity: 0;
    transition: all 0.75s ease-in;
    z-index: 0;
}

.slideshow--quote {
    position: absolute;
    top: calc(100vh - 75vh);
    width: 100vw;
    font-size: 5rem;
    font-family: $headerFont;
    font-weight: 800;
    color: aliceblue;
    text-align: center;
}

//EVENTS
.event{
    padding-top: 20px;
}

.event--slideshow {
    display: flex;
    flex-direction: row;
    overflow: scroll;

    & .event--slide {
        margin: 10px;
        width: 10rem;
        height: 12rem;
        display: grid;
        background-image: url(../img/img1.jpg);
        box-shadow: 10px 5px 5px rgba(100, 100, 100, 0.377);
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        
        & .event--type {
            padding: 5px;
            width: 75%;
            background-color: $bgColor2;
            font-family: $accentFont;
            color: $accentColor1;
            text-align: center;
        }
    }
}

//ABOUT WINK
.container--wink {
    margin: 0 20px;
    padding: 20px 0;
    border: hidden;
}

.img--set--left {
    width: 75vw;
    position: relative;
    left: -350px;
    z-index: 1;
    border-radius: 0 15px 15px 0;
    transition: all 3000ms;

    &.shifted--from--left {
    left: -20px;
    } 
}

.text--full--center {
    position: relative;
    padding: 10px;
    top: -60px;
    z-index: 2;
    background-color: $bgColor2;
}

//REFERENCES and CONTACT
.cover {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/img1.jpg);
}

//HIGHLIGHTS
.container--highlights{
    margin-left: 0;
    margin-right: 0;
    width: auto;
    border-top: hidden;
    border-bottom: hidden;
}

.highlights--block {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25% 75%;
    width: 100vw;
    overflow-x: hidden;

    & .img--set--right {
        grid-area: 1/1/2/3;
        justify-self: flex-end;
        width: 75vw;
        z-index: 1;
        border-radius: 15px 0 0 15px;
        padding-left: 100vw;
        transition: all 3000ms;
    }

    & .shifted--from--right{
        padding-left: 0px;
    }

    & .img--set--left {
        grid-area: 1/1/2/3;
        justify-self: flex-start;
        width: 75vw;
        z-index: 1;
        border-radius: 0 15px 15px 0;
        transition: all 3000ms;
    }

    & .text--small--center {
        align-self: center;
        justify-self: center;
        width: 75%;
        height: 5rem;
        padding: 10px;
        z-index: 2;
        background-color: $bgColor2;
        text-align: center;
        line-height: 5rem;
    }
}





//CONTACT *see references

//JAVASCRIPT ELEMENTS
.js--scroll {
    opacity: 0;
    transition: all 3000ms;
}

.js--scroll.scrolled{
    opacity: 1;
}