@import "./resets", "./variables";


//GENERAL STYLING
body{
    background-color: $bgColor2;
}

section {
    width: 100vw;
    height: fit-content;
    background-color: $bgColor2;
    color: $accentColor1;
    font-family: $mainFont;
    font-size: 1rem;
}

.heading--center {
    width: 100%;
    font-family: $accentFont;
    font-size: 2rem;
    text-align: center;
}

//HEADER AND MAIN SLIDESHOW
header {
    position: fixed;
    top: 0;
    height: 2rem;
    width: 100vw;
    padding: 1rem;
    z-index: 9;
    overflow: hidden;
    background: aliceblue;
    border-bottom: solid 1px rgb(13, 81, 139);
    transition: all 0.50s ease-in;

    & h1 {
        font-family: $accentFont;
        font-size: 2rem;
        color: rgb(13, 81, 139);
        transition: all 0.50s ease-in;
    }
}

.menu--item{
    display: none;
}

.main--slideshow {
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#slide--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    opacity: 0;
    transition: all 0.75s ease-in;
    z-index: 0;
}

.slideshow--quote {
    position: absolute;
    top: calc(100vh - 75vh);
    width: 100vw;
    font-size: 100px;
    font-family: $headerFont;
    font-weight: 800;
    color: aliceblue;
    text-align: center;
}

//EVENTS
.container {
    margin: 20px;
    padding: 20px 0;
    width: calc(100vw - 40px);
    background-color: $bgColor1;
    border-top: solid 2px $accentColor2;
    border-bottom: solid 2px $accentColor2;

    & .event--slideshow {
        display: flex;
        flex-direction: row;
        overflow: scroll;

        & .event--slide {
            display: grid;
            grid-template-columns: 1;
            width: 4rem;
            height: 5rem;

        }
    }
}

//ABOUT WINK

//EXPERIENCE HIGHLIGHTS

//CONTACT